# PANDAS

In [1]:
import numpy as np
import pandas as pd

Criando uma Série, fazendo com que o pandas liste esses valores em índices inteiros

In [2]:
#pd.Series(x, index=list(range(x)), dtype='float32,int32')
Série = pd.Series( [1,np.nan,6,5], dtype='float32' )
Série

0    1.0
1    NaN
2    6.0
3    5.0
dtype: float32

Criando um Array com NumPy

In [3]:
#np.array([x], dtype='float32,int32')
Array = np.array( [ 2, 3, 4.8, '34' ], dtype='int32' )
Array

array([ 2,  3,  4, 34])

Criando uma Categoria com pandas

In [4]:
Categoria = pd.Categorical(["test", "train", "test", "train"])
Categoria

[test, train, test, train]
Categories (2, object): [test, train]

Criando um Tempo com pandas

In [5]:
#Também é possível: Tempo = pd.Timestamp(1, unit='s')
Tempo = pd.Timestamp(2019,8,14,17,58,37,543455)
Tempo

Timestamp('2019-08-14 17:58:37.543455')

Criando um DataFrame, ou seja, uma Tabela, com índices inteiros, e colunas nomeadas

In [6]:
# Veja os tipos de dados que podem ser aferidos
# >> index por padrão é a contagem das linhas em inteiros

Dados_da_tabela = ({
    'Série': Série,
    'Array': Array,
    'Categoria': Categoria,
    'Tempo (Y-M-D H:M:S.MS)': Tempo,
    'Objeto': 'olá'
})

DataFrame = pd.DataFrame(Dados_da_tabela, index=('A','B','C','D'))

DataFrame['Tipo'] = ['Mulher', 'Homem', 'Mulher','Indefinido']

DataFrame

   Série  Array Categoria     Tempo (Y-M-D H:M:S.MS) Objeto        Tipo
A    NaN      2      test 2019-08-14 17:58:37.543455    olá      Mulher
B    NaN      3     train 2019-08-14 17:58:37.543455    olá       Homem
C    NaN      4      test 2019-08-14 17:58:37.543455    olá      Mulher
D    NaN     34     train 2019-08-14 17:58:37.543455    olá  Indefinido

In [7]:
DataFrame.dtypes

Série                            float32
Array                              int32
Categoria                       category
Tempo (Y-M-D H:M:S.MS)    datetime64[ns]
Objeto                            object
Tipo                              object
dtype: object

In [8]:
### DataFrame.head()
DataFrame.tail()
DataFrame.index #lista de indice
DataFrame.columns #colunas, nomes
DataFrame.to_numpy #tudo torna-se objeto
DataFrame.T #transpõe a tabela
DataFrame.sort_index(axis=1, ascending=True) #ordenar pelos eixos
DataFrame.sort_values(by='Array') #ordenar pelos valores de alguma coluna
DataFrame['Array'] #array dos valores da coluna
DataFrame[0:2] #corta para as x linhas
DataFrame['B':'D'] #corta para as linhas dentre as chamadas pelo slicer
#Resumindo :: DataFrame[Linha][Coluna]
DataFrame.loc[ ['B', 'D'], ['Série', 'Array'] ] #localiza as células pelas str das linhas e colunas
DataFrame.iloc[ [1,3], :2] #localiza as células pela int das linhas e colunas
DataFrame[DataFrame.Categoria == 'test'] #localiza as células pelo booleano se verdadeiro
DataFrame[DataFrame['Tipo'].isin(['Mulher', 'Homem'])] #localiza as células se tal coluna tiver tais atributos
DataFrame

   Série  Array Categoria     Tempo (Y-M-D H:M:S.MS) Objeto        Tipo
A    NaN      2      test 2019-08-14 17:58:37.543455    olá      Mulher
B    NaN      3     train 2019-08-14 17:58:37.543455    olá       Homem
C    NaN      4      test 2019-08-14 17:58:37.543455    olá      Mulher
D    NaN     34     train 2019-08-14 17:58:37.543455    olá  Indefinido

In [9]:
DataFrame.at['A', 'Objeto'] = 'bom dia' #atualiza o valor da célula pelas str das linhas e colunas
DataFrame.iat[2, 4] = 'bom dia' #atualiza o valor da célula pela int das linhas e colunas
DataFrame.loc[:, 'Série'] = np.array([5] * len(DataFrame)) #atualiza os valores da coluna por um Array
DataFrame

   Série  Array Categoria     Tempo (Y-M-D H:M:S.MS)   Objeto        Tipo
A      5      2      test 2019-08-14 17:58:37.543455  bom dia      Mulher
B      5      3     train 2019-08-14 17:58:37.543455      olá       Homem
C      5      4      test 2019-08-14 17:58:37.543455  bom dia      Mulher
D      5     34     train 2019-08-14 17:58:37.543455      olá  Indefinido

In [10]:
DataFrame.describe() #estudo estatístico rápido

       Série     Array
count    4.0   4.00000
mean     5.0  10.75000
std      0.0  15.52149
min      5.0   2.00000
25%      5.0   2.75000
50%      5.0   3.50000
75%      5.0  11.50000
max      5.0  34.00000

In [11]:
DataFrame.mean(0) #faz a média (float) para as colunas
DataFrame.mean(1) #faz a média (float) para as linhas

A     3.5
B     4.0
C     4.5
D    19.5
dtype: float64

In [12]:
DataFrame_int = DataFrame.loc[:,['Série','Array']]
DataFrame_int.apply(np.cumsum) #soma a anterior à seguinte (os valores devem ser numéricos!)

   Série  Array
A      5      2
B     10      5
C     15      9
D     20     43

Fazer um histograma: (rever isso!)

In [13]:
Série_numérica = pd.Series(np.random.randint(0, 11, size=1000))
Série_numérica.value_counts(False)

10    110
6     107
1      96
5      93
2      93
8      92
3      89
0      84
7      82
4      82
9      72
dtype: int64